*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#009c99;
    --color:#3d94a7;
    --font-size:1.25rem;
    --font-p:0.9375rem;
    --color-text:#fff;
}
/* ==========nav css work========== */
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    margin: 7px;
    list-style: none;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.nav_link{
    list-style: none;
   
}
.nav_link li a{
    color: black;
    text-decoration: none;
}

.nav_icon{
    display: none;
}
/* ==========section 1 css========== */
.front_page_imges img{
    width: 100%;
    height: 920px; 
}
/* ==========section 2 css========== */
.all_cared{
    background-color: var(--background-color);
    width: 100%;
    /* height: 650px; */
    display: flex;
    justify-content: center;
}
.section_2{
    background-color: var(--background-color);
    width: 100%;
    height: 600px;
}
.main_cared{
    background-color: white;
    border: 1px solid black;
    height: 268px;
    border-radius:25px;    
    margin:10px ;
    margin-top: -100px;
    padding: 28px ;
}
.box{
    /* display: flex; */
    margin: 0 auto 0 0;

}
.icon_card{
    font-size: 22px;
    background-color: var(--background-color);
    width: 60px;
    height:60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 } 
 .text_content {
    margin-top: 10px;
 }
 .text_content p {
    margin-top: 10px;
    font: italic;
    /* line-height: 2; */
 }
.responsive_section_2{
    display: none;
}
.center_text{
    text-align: center;
    margin-top: 7rem;
    color: white;

}
.h2_text h2{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    
}
.p_text p{
    margin-top: 10px;
    line-height: 28px;


}
.center_text_R{
    display: none;
}
/* ============section 3 css work================= */

.card_2{
    border: 1px solid black;
    border-radius: 20px;

}
.box_text_2 h4{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-transform:uppercase ;
    color: #009c99;
    
}
.main_div{
    display: flex;
    justify-content:center;
    /* padding: 10px;
    margin: 10px;
    background-color: white; */
    /* background-color: whitesmoke; */


}
.card_2{
    margin: 20px;
    background-color:white;
    text-align: center;
    width: 329px;
    height: 410px;
}
.box_imges img{
    width: 325px;
    height: 210px;
    border-radius: 35px;
  
    padding: 20px;

}
.box_p_text p{
    font-size: var(--font-p);
    line-height: 24px;
    color: var(--color);
}
.btn{
    margin-top: 20px;

}
.btn button{
    padding: 0px 21px;
    font-size: 15px;
    text-transform:uppercase ;
    border: none;
    background-color: transparent;
    border-style:none none solid;
    border-color: var(--color);
    text-decoration: none;
    font-family:'Times New Roman', Times, serif ;
}
.main_div{
    margin-top: -100px;
}

.all_div{
    background-color: #e5e5e5;
    height: 350px; 
    /* padding: 50px; */
}
.responsive_section_3{
    display: none;
}
/* ==============section_4 ka cass work ha=================== */
.section_4_img img{
    width: 340px;
    height: 337px;
}
.section_4_img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main_text{
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction:column;
}



.left  {
    text-align: right;
    /* background-color: red; */
    width: 444px;
    /* border: 1px solid black;  */
    /* padding-left: 292px; */
    margin: 20px;
    margin-left: 23px;
}
.right{
    width: 444px;
    /* padding-right: 292px; */
    margin-right: 23px;
    margin: 20px;
}
.left h1{
    font-size: 57px;

}
.section_4_text h4{
    font-size: 22px;
    font-weight: 50px;
    margin-top: 8px;
}
.section_4_text p{
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.6;
    color: rgba(29, 2, 2, 0.496);
}
.right h1{
    font-size: 57px;

}
.M_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_2{
    background-color: var(--background-color);
    padding: 17px 65px;
    border-radius: 30px;
    color: #fff;
    font-size: large;
    text-transform: uppercase;
    border: none;
}


.R_main_text{
    margin: 20px 50px;
}
.responsive_section_4{
    display: none;
}

/* ====================section_5 kaa css ha================= */
.t_h{
    width: 100%;
    height: 1296px;
    background-color: #e5e5e5;
    margin-top: 30px;
}
.t_h_t{
    font-size: 46px;
    font-weight: 900;
    /* padding-left: 750px; */
    padding-right:157px ;
    padding-top: 50px;
    text-align: end;
}

.main_box{
    display: flex;

}
.bx_t{
    border: 1px solid black;
    width: 376px;
    height: 268px;
    border-radius: 30px;
    padding: 20px;
    margin: 5px;
    background-color: white;
}
.bx_t h5{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.bx_t p{
    line-height: 2;
    /* font-style: italic; */
    margin: 20px 0 0;
}

.main_full_box{
    /* display: flex; */
    margin-top: -580px;
    margin-left: 220px;
 
}
.images img{
    width: 721px;
    height: 721px;
    object-position: 2.6% 50%;
    margin: -646px calc(((100% -  1140px) / 2)) 0 auto;
    /* padding-right: 150px; */
    display: flex;
    justify-content: end;
    /* margin-top: -56px; */

}
.color_box{
    width: 100%;
    height: 286px;
    background-color:var(--background-color);
    margin-top: 380px;
    
}
.rapper_box{
    margin-top: 304px;
}

.button_a{
   
 
  
    border: none;
    background-color: transparent;
  
    border-color: var(--color);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-style: none none solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  
}

